<!--cards for the artists-->

<div class="container">
    <h1>Artists Picked for you</h1>
    <div class="row align-items-start">
        <div class="col">
            <div class="row">
                <div class="col-3" *ngFor="let artist of artists">
                    <pandora-artistcards class="mx-2" img={{artist.img}} artist={{artist.artist}}>
                        Loading...
                    </pandora-artistcards>
                </div>
                
            </div>
        </div>
        <div class="container">
            <h1>New Music</h1>
            <div class="row align-items-start">
                <div class="col">
                    <div class="row">
                        <div class="col-2" *ngFor = "let album of albums">
                            <pandora-card class="mx-2 card size image" img={{album.img}} title = {{album.title}} artist={{album.artist}} [songs] ='album.songs'>
                                Loading...
                            </pandora-card>
                        </div>
                        
                        <h1>  </h1>
<h1> l </h1>
<h1>  </h1>
<h1>  </h1>
<h1>  </h1>
<h1>  </h1>
<h1>  </h1>
<h1>  </h1>
<h1>  l</h1>
                    </div>
                </div>



        <pandora-bottomnavbar>Loading...</pandora-bottomnavbar>