<div class="card bg-dark text-white card_size ">
    <img src={{img}} class="card-img">
    <div class="card-img-overlay ">
      <h5 class="card-title card_center"><svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-play-circle-fill " viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
      </svg></h5>
      
      <p class="card-text card_center"><button type="button" class="btn btn-secondary card_background" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="more">
        ...
      </button></p>
    </div>

    <ul class="list-group card_border">
      <li class="list-group-item card_border card_overflow card_titlesize card_thick">{{title}}</li>
      <li class="list-group-item card_border card_overflow card_size">{{artist}}</li>
      <li class="list-group-item card_border card_overflow card_size">Album - {{songs}} songs</li>
      
    </ul>
  </div>