
<div class="d-flex flex-nowrap">
<div class="container-fluid" *ngFor="let carol of carol">
<pandora-carol class="mx-2" img = {{carol.img}}>loading...</pandora-carol>
</div>
</div>

<pandora-middlenavbar>loading...</pandora-middlenavbar>


<!--cards for the different albums of music-->
<div class="container">
    <h1>New Music</h1>
    <div class="d-flex flex-wrap">
    <div class="row align-items-start">
      
                <div class="col" *ngFor="let album of albums">
                    <pandora-card class="mx-2 card size" img={{album.img}} title={{album.title}} artist={{album.artist}}
                        [songs]='album.songs'>
                        Loading...
                    </pandora-card>
                
            </div>
        </div>
    </div>

        <!--cards for the artists-->
        <div class="container-fluid">
            <div *ngFor="let artist of artists">
                <pandora-artistcards class="mx-2" img={{artist.img}} artist={{artist.artist}}>
                    Loading...
                </pandora-artistcards>
            </div>
        </div>
        

        <pandora-bottomnavbar>Loading...</pandora-bottomnavbar>