<pandora-topnavbar>Loading...</pandora-topnavbar>

<!--cards for the different albums of music-->
<div class="container-fluid ">
<pandora-card img="./assets/encanto.jpg" title="Encanto (Original Motion Picture Soundtrack)" artist="Lin-Manuel Miranda, Germaine Franco & Encanto - Cast" [songs]=44>Loading...</pandora-card>
<pandora-card img="./assets/meatloaf_thumbnail.jpg" title="Bat Out Of Hell" artist="Meatloaf" [songs]=6>Loading...</pandora-card>
<pandora-card img="./assets/momma_mia_thumbnail.jpg" title="Mamma Mia! Here We Go Again (Original Motion Picture Soundtrack)" artist="Cast Of Mamma Mia! Here We Go Again" [songs]=18>Loading...</pandora-card>
<pandora-card img="./assets/shum_goa_thumbnail.jpg" title="SHUM" artist="Go-A" [songs]=1>Loading...</pandora-card>
</div>
 


<pandora-songlist>Loading...</pandora-songlist>
<pandora-bottomnavbar>Loading...</pandora-bottomnavbar>