
<div class="container">
    <div class="row align-items-start">
      <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item"> <button class="btn btn-primary pandora-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                S
              </button></li>
            <li class="list-group-item">My Profile</li>
            <li class="list-group-item">Thumbs up  <span class="badge bg-primary rounded-pill">203</span></li>
            <li class="list-group-item">Bookmarks  <span class="badge bg-primary rounded-pill">3</span></li>
        
          </ul>
      </div>
      <div class="col">
          
        <p class="text-start">mciccone33</p><p class="text-center">public profile</p><p class="text-muted text-end">
  <a href="#" class="text-reset">edit</a>
</p>
      </div>
      
    </div>
<pandora-bottomnavbar>Loading...</pandora-bottomnavbar>