<div class="container border">
    <div class="row align-items-start">
      <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item"> Settings</li>
            <li class="list-group-item">Account</li>
            <li class="list-group-item">Notifications</li>
            <li class="list-group-item">Content Settings</li>
            <li class="list-group-item">Subscriptions</li>
            <li class="list-group-item">Redeem</li>
        
          </ul>
      </div>
      <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item"> Account Info <p class="text-muted text-end">
                <a href="#" class="text-reset">edit</a></li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">email@gmail.com</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Password</li>
            <li class="list-group-item">*********</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Birth Year</li>
            <li class="list-group-item">1988</li>
            <li class="list-group-item"></li>
            <li class="list-group-item">Gender</li>
            <li class="list-group-item">Male</li>
        
          </ul>
      </div>
      <div class="col-2 ">
        <ul class="list-group">
            <li class="list-group-item"> 
                <a href="#" class="text-reset"></a></li>
            <li class="list-group-item border">     </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">Zip Code</li>
            <li class="list-group-item">*****</li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
            <li class="list-group-item">   </li>
          </ul>
      </div>
<pandora-bottomnavbar>Loading...</pandora-bottomnavbar>
