.pandora-one{
    color:dimgrey;
  }
  .pandora-two{
    color:dimgrey;
  }
  .pandora-three{
    color:dimgrey;
  }
  .pandora-brand{
    color:dimgrey;
  }
  .pandora-search{
    background-color:rgb(231, 227, 227);
    width: 20%;
    border: 2px none;
    height: 45%;
    border-radius: 15px;
    
 
  }
  .pandora-icon
  {
    background-color:rgba(231, 227, 227, 0.979);
    width: 40%;
    border: 2px none;
    height: 45%;
  }
  