<nav class="nav">
  <a routerLink="now-playing" class="nav-link pandora-one a:hover a:active" href="#">Now Playing</a>
  <a class="nav-link pandora-two a:hover a:active" href="#">My Collection</a>
  <a routerLink="browse" class="nav-link pandora-three a:hover a:active" href="#">Browse</a>
  
  <form class="container-fluid pandora-search">
    <div class="input-group">
      <span class="input-group-text pandora-icon " id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg></span>
      <input type="text" class="form-control pandora-search" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>

    
    <a class="navbar-brand pandora-brand" href="#">pandora</a>

    <p>
      <button class="btn btn-primary pandora-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        S
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        
          <li><a routerLink="profile" class="dropdown-item" href="#">My Profile</a></li>
          <li><a routerLink="settings" class="dropdown-item" href="#">Settings</a></li>
          <li><a routerLink="help" class="dropdown-item" href="#">Help</a></li>
          <li><a routerLink="community" class="dropdown-item" href="#">Community</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a routerLink="sign-out" class="dropdown-item" href="#">Sign Out</a></li>
        
      </div>
    </div>
  
</nav>

