<div class="container">
    <h1>New Music</h1>
    <div class="row align-items-start">
        <div class="col">
            <div class="row">
                <div class="col-2" *ngFor="let album of albums">
                    <pandora-card class="mx-2 card size" img={{album.img}} title={{album.title}} artist={{album.artist}}
                        [songs]='album.songs'>
                        Loading...
                    </pandora-card>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</div>

<pandora-middlenavbar>loading...</pandora-middlenavbar>
<!--cards for the artists-->

<div class="container">
    <h1>Artists Picked for you</h1>
    <div class="row align-items-start">
        <div class="col">
            <div class="row">
                <div class="col-3" *ngFor="let artist of artists">
                    <pandora-artistcards class="mx-2" img={{artist.img}} artist={{artist.artist}}></pandora-artistcards>
                    
                </div>

            </div>
        </div>
    </div>
</div>